<!DOCTYPE html>
<html>
  <head>
    <%%= render 'shared/head' %>
  </head>

  <body class="flex flex-col min-h-screen bg-white">
    <%%= render 'shared/navbar_<%= variant %>' %>

    <main class="flex-grow w-full">
      <%%= yield %>
    </main>

    <%%= render 'shared/footer_<%= variant %>' %>
  </body>
</html>
