<!DOCTYPE html>
<html>
  <head>
    <%%= render 'shared/head' %>
  </head>

  <body class="flex flex-col min-h-screen bg-white">
    <%%= render 'shared/navbar_<%= variant %>' %>

    <div class="flex-grow w-full max-w-6xl mx-auto sm:px-6 lg:px-8">
      <%%= yield %>
    </div>

    <%%= render 'shared/footer_<%= variant %>' %>
  </body>
</html>
