<nav class="bg-gray-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <h1 class="text-xl">
            <%= link_to t("titles.application"), root_url, class: "text-white hover:text-gray-300" %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</nav>
